talend_data_integration/.settings/mappings/mapping_validate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="talendType">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="dbType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="default" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="talendToDbTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="talendType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dbms" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="talendToDbTypes"/>
				<xs:element ref="dbToTalendTypes"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="java"/>
						<xs:enumeration value="perl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dbms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dbTypes"/>
				<xs:element ref="language" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="product" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="default" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dbTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dbType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dbType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="talendType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="preBeforelen" type="xs:boolean"/>
			<xs:attribute name="ignorePre" type="xs:boolean"/>
			<xs:attribute name="ignoreLen" type="xs:boolean"/>
			<xs:attribute name="defaultPrecision">
				<xs:simpleType>
					<xs:restriction base="xs:short"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="defaultLength">
				<xs:simpleType>
					<xs:restriction base="xs:short"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="defaultPattern">
    <xs:simpleType>
     <xs:restriction base="xs:string"/>
    </xs:simpleType>
   </xs:attribute>
			<xs:attribute name="default" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dbToTalendTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dbType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
